input, label, h1 {
    color: #483c32 !important;

}

footer {
    background-color: #b38b6b !important;
}

.logo {
    position: absolute;
    width: 128px;
    height: 128px;
    top: -60px;
    left: 20px;
}