
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag"><title>Courts</title>
    </head>
    <body>
        <div th:include="fragments/bodyHeader" th:remove="tag"></div>
        <section class="section">
            <div class="container" >            
                <h1 class="title">Add Court</h1>
                <p th:text="${message}"></p>
                <form  th:object="${Court}" action="addSubmit" th:action="@{/court/addSubmit}" method="get">
                    <input type="hidden" th:field="${Court.courtId}" />
                    <div class="field">
                        <label for='courtNumber' class="label">Court Number</label>
                        <div class="control">
                            <input type="text" class="input" name="courtNumber" th:field="${Court.courtNumber}" maxlength="5"/> 
                        </div>
                    </div>
                    <div class="field">
                        <label for='courtName' class="label">Court Name</label>
                        <div class="control">
                            <input type="text" class="input" name="courtName" th:field="${Court.courtName}" maxlength="20"/>
                        </div>
                    </div>
                    <div class="field">
                        <label for='courtType' class="label">Court Type</label>
                        <div class="control">
                            <div class="select">
                                <select name="courtType" th:field="${Court.courtType}">
                                    <option th:each="courtType : ${codeValues}" th:value="${courtType.codeValueSequence}" th:text="${courtType.englishDescription}">types here</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button class="button is-pulled-right" type="submit">Submit</button>
                </form>
            </div>
        </section>
        <div th:include="fragments/footer" th:remove="tag"></div>
    </body>
</html>