<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag"><title>Courts</title>
    </head>
    <body>
        <div th:include="fragments/bodyHeader" th:remove="tag"></div>
        <section class="section">
            <div class="container">       
                <h1 class="title">Available Courts</h1>
                <table class="table is-striped is-fullwidth">
                    <thead>
                        <tr>
                            <th style="width: 150px;">Court Number</th>
                            <th style="width: 150px;">Court Name</th>
                            <th style="width: 150px;">Court Type</th>
                            <th style="width: 150px;">Booking Date</th>
                            <th style="width: 150px;">Start Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="Court : ${Courts}">
                            <td th:text="${Court.courtNumber}"></td>
                            <td th:text="${Court.courtName}"></td>
                            <td th:text="${Court.courtType}"></td>
                            <td th:text="${Court.bookingDate}"></td>
                            <td th:text="${Court.startTime}"></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><a class="button is-pulled-right" th:href="@{/courtBooking/book}" th:text="BookCourt" ></a></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>
        <div th:include="fragments/footer" th:remove="tag"></div>
    </body>
</html>