<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag"><title>Courts</title>
    </head>
    <body>
        <div th:include="fragments/bodyHeader" th:remove="tag"></div>
        <section class="section">
            <div class="container">       
                <h1 class="title">Courts</h1>
                <table class="table is-striped is-fullwidth">
                    <thead>
                        <tr>
                            <th style="width: 150px;">id</th>
                            <th style="width: 150px;">Court Number</th>
                            <th style="width: 150px;">Court Name</th>
                            <th style="width: 150px;">Court Type</th>
                            <th style="width: 150px;">Operations</th>
                        </tr>
                    </thead>
                    <tbody>

                            <tr th:each="Court : ${Courts}">

                            <td th:text="${Court.courtId}"></td>
                            <td th:text="${Court.courtNumber}"></td>
                            <td th:text="${Court.courtName}"></td>
                            <td th:text="${Court.courtType}"></td>
                            <td>
                                <div class="field is-grouped">
                                    <p class="control">
                                        <a class="button is-small"  th:href="@{/court/update(id=${Court.courtId})}">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                    </p>
                                    <p class="control">
                                        <a class="button is-small"  th:href="@{/court/delete(id=${Court.courtId})}">
                                        <i class="fas fa-trash"></i>
                                        </a>
                                    </p>
                                </div>
                            </td>      
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5"><a class="button is-pulled-right" th:href="@{/court/add}" th:text="Add" ></a></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>
        <div th:include="fragments/footer" th:remove="tag"></div>
    </body>
</html>