<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag"><title></title>
    </head>
    <body>
        <div th:include="fragments/bodyHeader" th:remove="tag"></div>
        <section class="section">
            <div class="container">
                <h1 class="title">Search Courts</h1>
                <form th:object="${Court}" action="findCourts" th:action="@{/court/findCourts}" method="get">
                    <div class="columns">
                        <div class="field column">
                            <label for="bookDate" class="label">Booking Date: </label>
                            <div class="control">
                                <input type="text" th:field="${Court.bookingDate}" placeholder="yyyymmdd" name="bookDate" class="input"/>
                            </div>
                        </div>
                        <div class="field column">
                            <label for="startTime" class="label">Booking Time: </label>
                            <div class="control">
                                <div class="select">
                                <select name="startTime" th:field="${Court.startTime}">
                                            <option th:each="time : ${courtTimes}" th:value="${time.startTime}" th:text="${time.startTime}"></option>   
                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="field column">
                            <label for="courtTime" class="label">Court Type: </label>
                            <div class="control">
                                <div class="select">
                                <select name="courtType" th:field="${Court.courtType}">
                                            <option th:each="courtType : ${codeValues}" th:value="${courtType.codeValueSequence}" th:text="${courtType.englishDescription}">types here</option>
                                </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="button is-pulled-right" type="submit">Find</button>  
                </form>
            </div>
        </section>
        <div th:include="fragments/footer" th:remove="tag"></div>
    </body>
</html>