@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:700);
/* CSS Document */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
	position: relative;
}

.nav {
    margin: 2% 0;
    float:right;
}

.nav li {
    display: inline-block;
}

.nav li a {
    display: block;
    font-family: 20px/1.2'Gotham', sans-serif;
    padding: 5px 15px;
    text-transform: uppercase;
    color: saddlebrown; 
}

.nav li a:hover, .nav li a:active {
    color: darkorange;
    text-decoration: none;
}

.nav li.fade a {
    color: transparent;
} 
h1 {
	font-family: "DejaVu Sans" sans-serif; 
	font-size: 40px;
	color: saddlebrown;
	opacity: 0.75;
}
  
p {
	margin: 80px 0px -80px 0px;
	font-family: "Helvetica Neue";
	color: saddlebrown;
}
	
.header{
	max-width: 100%;
}
.img1{
	position: absolute;
	z-index: 1;
	margin-left: 370px;
	margin-top: 350px;
		
}
#column1 {
	position: relative;
	right: -365px;
	top: 40px;
	width: 800px;
	
}
#column2 {
	position: relative;
	width: 310px;
	top: -470px;
	float: left;
}
.footer {
  display: inline-block;
  font-family: 'Gotham',sans-serif;
  color: saddlebrown;
  position: fixed;
  opacity: .75;
  right: 20px;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: right;
}
body{
	margin-bottom: 200px;
}