<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag"><title></title>
    </head>
    <body>
        <div th:include="fragments/bodyHeader" th:remove="tag"></div>
        <section class="section" >
            
            <div class="container" >            
                <h2>Booking Results</h2>
                <p th:text="${message}"></p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 150px;">Booking ID</th>
                            <th style="width: 150px;">Court Number</th>
                            <th style="width: 150px;">Booking Date</th>
                            <th style="width: 150px;">Start Time</th>
                            <th style="width: 150px;">Player 1</th>
                            <th style="width: 150px;">Player 2</th>
                            <th style="width: 150px;">Notes</th>
                            <th style="width: 150px;">Created Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="courtBooking : ${courtBookings}">

                            <td th:text="${courtBooking.id}"></td>
                            <td th:text="${courtBooking.courtNumber}"></td>
                            <td th:text="${courtBooking.bookingDate}"></td>
                            <td th:text="${courtBooking.startTime}"></td>
                            <td th:text="${courtBooking.memberId}"></td>
                            <td th:text="${courtBooking.memberIdOpponent}"></td>
                            <td th:text="${courtBooking.notes}"></td>
                            <td th:text="${courtBooking.createdDate}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <div th:include="fragments/footer" th:remove="tag"></div>
    </body>
</html>