<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag"><title></title>
    </head>
    <body>
        <div th:include="fragments/bodyHeader" th:remove="tag"></div>
        <section class="section" >
            <div class="container" >            
                <h2>Update Member</h2>
                <p th:text="${message}"></p>
                <form action="add.html" th:action="@{/userAccess/results}" method="post" class="form-horizontal">
                    <fieldset>
                        <div class="field">
                            <label for='member' class="label">Member</label>
                            <div class="control">
                                <div class="select">
                                    <select id="member" name="member">
                                        <option th:each="theType : ${userAccesses}" th:value="${theType.userId}" th:text="${theType.userId}+' '+${theType.firstName}+' '+${theType.lastName}">types here</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label for='startDate' class="label">Start Date</label>
                            <div class="control">
                                <input type="date" class="input" id="startDate" name="startDate" />
                            </div>
                        </div>
                        <div class="field">
                            <label for='endDate' class="label">End Date</label>
                            <div class="control">
                                <input type="date" class="input" id="endDate" name="endDate" />
                            </div>
                        </div>
                        <button class="button is-pulled-right" type="submit">Submit</button>
                    </fieldset>
                </form>
            </div>
        </section>
        <div th:include="fragments/footer" th:remove="tag"></div>
    </body>
</html>