<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>
        <div class="container p-0" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        <div class="container" >            
            <h2>Add User</h2>
            <p th:text="${message}"></p>
            <form th:object="${user}" action="add.html" th:action="@{/users/add}" method="get">
                <fieldset class="row">
                        <div class="form-group col-sm-6">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="username" th:value="${user.username}" maxlength="100"/>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" th:value="${user.password}" maxlength="12"/>
                        </div>
                        <div class="form-group col-12">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" name="firstName" th:value="${user.firstName}" maxlength="100"/>
                        </div>
                    <div class="form-group col-12">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" name="lastName" th:value="${user.lastName}" maxlength="100"/>
                        </div>
                    <div class="form-group col-12">
                            <label for="firstName">User Type Code</label>
                            <select class="form-control" name="userTypeCode">
                                    <option th:each="theType : ${session.UserTypes}" th:value="${theType.codeValueSequence}" th:text="${theType.englishDescription}">types here</option>
                                </select>
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </fieldset>
            </form>
            </div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
        </div>
    </body>
</html>