<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>
        <div class="container p-0" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
            <div class="container" >            
                <h2>Edit</h2>
                <p th:text="${message}"></p>
                <form th:object="${user}" th:action="@{/users/edit}" method="get" class="form-horizontal">
                    <fieldset>
                        <table class="table table-striped">
                            <tr>
                                <th>Username</th>
                                <td><input type="text" name="username" th:value="${user.username}" maxlength="100"/>
                                </td>
                            </tr>
                            <tr>
                                <th>Password</th>
                                <td><input type="text" name="password" th:value="${user.password}" maxlength="12"/>
                                </td>
                            </tr>
                            <tr>
                                <th>First Name</th>
                                <td><input type="text" name="firstName" th:value="${user.firstName}" maxlength="100"/>
                                </td>
                            </tr>
                            <tr>
                                <th>Last Name</th>
                                <td><input type="text" name="lastName" th:value="${user.lastName}" maxlength="100"/>
                                </td>
                            </tr>
                            <tr>
                                <th>User Type Code</th>
                                <td><input type="text" name="userTypeCode" th:value="${user.userTypeCode}"/>
                                </td>
                            </tr>
                        </table>
                        <div style="text-align: left;" class="form-actions">
                            <button class="btn btn-primary btn-lg" type="submit" name="id" th:value="${user.userAccessId}">Save</button>
                        </div>
                    </fieldset>
                </form>
                <button><a th:href="@{/users/deleteUser(id=${user.userAccessId})}" th:text="${user.userAccessId}" ></a>Delete</button>
            </div>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>