<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>
        <div class="container p-0">
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
            <div class="container" >            
                <h2>Users</h2>
                <a class="btn btn-primary" th:href="@{/users/add}" th:text="Add" ></a>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 150px;">Username</th>
                            <th style="width: 150px;">Last Name</th>
                            <th style="width: 150px;">First Name</th>
                            <th style="width: 150px;">User Type</th>
                            <th style="width: 150px;">Date Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.lastName }"></td>
                            <td th:text="${user.firstName }"></td>
                            <td th:text="${user.userTypeDescription }"></td>
                            <td th:text="${user.createdDateTime}"></td>
                            <td><a class="btn btn-primary"  th:href="@{/users/delete(id=${user.userId})}">Delete</a></td>
                        </tr>
                    </tbody>
                </table>    
            </div>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>
