<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head><title></title></head>
    <body th:fragment="bodyHeader">
        <div class="containter navbar" >
            <div class="container cisis">
                <img style="vertical-align: bottum; float:left " th:src="@{/resources/images/logoHeader.png}" 
                     src="../../../resources/images/logoHeader.png" /><h1>HC-CIS<small>&nbsp;Canes</small></h1>
            </div>

            <div class="navbar-inner"  >
                <ul  class="nav">

                    <li class="dropdown" id="menuResources" th:if="${session.loggedInUser.userTypeCode >= 1}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Tools
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="not used" th:href="@{/camper/list}"><i class="icon-th-list"></i>List</a></li>                 
                            <li><a href="not used" th:href="@{/camper/add}"><i class="icon-th-list"></i>Add</a></li>   
                            <li th:if="${session.loggedInUser.userTypeCode == 2}"><a href="not used" th:href="@{/camper/deleteall}"><i class="icon-th-list"></i>Delete All</a></li>   
                        </ul>
                    </li>


                </ul>
                <ul  class="nav" >

                    <li class="dropdown" id="menuResources2" th:if="${session.loggedInUser.userTypeCode >= 1}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources2">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Other
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="not used" th:href="@{/logout}"><i class="icon-th-list"></i>Logout</a></li>                 
                        </ul>
                    </li>


                </ul>
            </div>

        </div>
    </body>

</html>