<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag"><title></title>
    </head>
    <body>
        <div th:include="fragments/bodyHeader" th:remove="tag"></div>
        <section class="section" >
            <div class="container" >            
                <h2>Code Types</h2>
                <a class="btn btn-primary" th:href="@{/codes/codeTypeAdd}" th:text="Add" ></a>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Code Type</th>
                            <th>English Description</th>
                            <th>French Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="codeType : ${codeTypes}">
                            <td><a th:href="@{/codes/codeValues(id=${codeType.codeTypeId})}" th:text="${codeType.codeTypeId}" ></a></td>
                            <td th:text="${codeType.englishDescription}"></td>
                            <td th:text="${codeType.frenchDescription}"></td>
                        </tr>
                    </tbody>
                </table>    
            </div>
        </section>
        <div th:include="fragments/footer" th:remove="tag"></div>
    </body>
</html>
