<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <body th:fragment="bodyHeader">
        <figure class="image is-fullwidth">
            <img th:src="@{/resources/images/header-banner.jpg}"/>
        </figure>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <a class="logo" th:href="@{/}">
                <img th:src="@{/resources/images/RACKETnBALL.png}" src="/resources/images/RACKETnBALL.png"/>
            </a>
            <div class="navbar-brand">
                <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" th:href="@{/}">Home</a>
                    <a class="navbar-item" th:href="@{/other/about}">About</a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Tools
                        </a>
                        <div class="navbar-dropdown">
                            <a th:href="@{/}" class="navbar-item">Database Details</a>
                            <a th:href="@{/codes/codeTypes.html}" class="navbar-item">Code Types</a>
                            <a th:href="@{/users/list.html}" class="navbar-item">Users</a>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Export
                        </a>
                        <div class="navbar-dropdown">
                            <a th:href="@{/fitnessMembers/export}" class="navbar-item">Export Member</a>
                            <a th:href="@{/court/export}" class="navbar-item">Export Court Information</a>
                            <a th:href="@{/courtBooking/export}" class="navbar-item">Export Booking Information</a>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Court Bookings
                        </a>
                        <div class="navbar-dropdown">
                            <a th:href="@{/courtBooking/book}" class="navbar-item">Book Court</a>
                            <a th:href="@{/courtBooking/list}" class="navbar-item">List Bookings</a>
                            <a th:href="@{/userAccess/search}" class="navbar-item">Search By Member</a>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Members
                        </a>
                        <div class="navbar-dropdown">
                            <a th:href="@{/fitnessMembers/list}" class="navbar-item">List</a>
                            <a th:href="@{/courtBooking/getReport}" class="navbar-item">Usage Report</a>
                        </div>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            Court
                        </a>
                        <div class="navbar-dropdown">
                            <a th:href="@{/court/list}" class="dropdown-item" href="../court/list.html">List Court</a>
                            <a th:href="@{/court/add}" class="dropdown-item" href="../court/add.html">Add Court</a>
                            <a th:href="@{/court/search}" class="dropdown-item" href="../court/searchCourts.html">Search Court</a>
                        </div>
                    </div>
                   
                </div>
            </div>
        </nav>
    </body>
</html>