<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="headTag">
        <title>Team Taupe</title>
        <link rel="shortcut icon" type="image/gif" href="http://bjmac2.hccis.info/images/icon.png" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />
        <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
        <link rel="stylesheet" th:href="@{/resources/css/style.css}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
</html>




