<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag"><title></title>
    </head>
    <body>
        <div th:include="fragments/bodyHeader" th:remove="tag"></div>
        <section class="section">
            <div class="container" >
                <h1 class="title">Book Court</h1>
                <form th:object="${booking}" action="addCourtBooking" th:action="@{/courtBooking/addCourtBooking}" method="get">
                    <input type="hidden" th:field="${booking.id}"/>
                    <div class="field">
                        <label for="courtNumber" class="label">Court Number:</label>
                        <div class="control">
                            <div class="select">
                                <select id="courtNumber" th:field="*{courtNumber}">
                                    <option th:each="court : ${courts}" th:value="${court.courtNumber}" th:text="${court.courtName}"></option>   
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="bookingDate" class="label">Booking Date:</label>
                        <div class="control">
                            <input class="input" id="bookingDate" type="date" style="width: 180px;" placeholder="yyyymmdd" name="bookingDate"/>
                        </div>
                    </div>
                    <div class="field">
                        <label for="courtTimes" class="label">Court Times:</label>
                        <div class="control">
                            <div class="select">
                                <select class="form-control" id="courtTimes" th:field="*{startTime}">
                                    <option th:each="time : ${courtTimes}" th:value="${time.startTime}" th:text="${time.startTime}"></option>   
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="label">
                        <label for="memberId" class="label">Member Id:</label>
                        <div class="control">
                            <div class="select">
                                <select id="memberId" th:field="*{memberId}">
                                    <option th:each="member : ${members}" th:value="${member.userId}" th:text="${member.firstName + ' ' + member.lastName}"></option>   
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="memberIdOpponent" class="label">Member Opponent Id:</label>
                        <div class="control">
                            <div class="select">
                                <select class="form-control" id="memberIdOpponent" th:field="*{memberIdOpponent}">
                                    <option th:each="member : ${members}" th:value="${member.userId}" th:text="${member.firstName + ' ' + member.lastName}"></option>   
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label for="notes" class="label">Notes:</label>
                        <div class="control">
                            <input class="input" id="notes" type="String" style="width: 150px;" placeholder="Notes" name="notes" th:field="booking.notes"/>
                        </div>
                    </div>
                    <button class="button is-pulled-right" type="submit">Book</button>
                    <div class="alert alert-danger text-center" role="alert" th:if="${courtMessage == true}">
                        <p th:text="#{multiple.bookings}"></p>
                    </div>   
                    <div class="alert alert-danger text-center" role="alert" th:if="${memberMessage == true}">
                        <p th:text="#{member.bookings}"></p>
                    </div> 
                </form>
            </div>
        </section>
        <div th:include="fragments/footer" th:remove="tag"></div>
    </body>
</html>