<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag"><title></title>
    </head>
    <body>
        <div th:include="fragments/bodyHeader" th:remove="tag"></div>
        <section class="section">
            <div class="container" >            
                <!-- Header -->
                <h1 class="title">Court Bookings</h1>
                <table class="table is-striped is-fullwidth">
                    <thead>
                        <tr>
                            <th>Court Number</th>
                            <th>Booking Date</th>
                            <th>Start Time</th>
                            <th>Member Id</th>
                            <th>Opponent Id</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="booking : ${bookings}">
                            <td th:text="${booking.courtNumber}"></td>
                            <td th:text="${booking.bookingDate }"></td>
                            <td th:text="${booking.startTime }"></td>
                            <th:block th:each="member : ${members}">
                                <th:block th:if="${member.userId == booking.memberId}">
                                    <td th:text="${member.firstName} + ' ' + ${member.lastName}"></td>
                                </th:block>
                            </th:block>
                            <th:block th:each="member : ${members}">
                                <th:block th:if="${member.userId == booking.memberIdOpponent}">
                                    <td th:text="${member.firstName} + ' ' + ${member.lastName}"></td>
                                </th:block>
                            </th:block>
                            <td th:text="${booking.notes }"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <div th:include="fragments/footer" th:remove="tag"></div>
    </body>
</html>