<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag"><title></title>
    </head>
    <body>
        <div th:include="fragments/bodyHeader" th:remove="tag"></div>
        <section class="section">
            <div class="container" >            
                <h1 class="title" th:text="${title}"></h1>
                <p th:text="${message}"></p>
                <form th:object="${fitnessMember}" action="add.html" th:action="@{/fitnessMembers/addSubmit}" method="get">
                    <input type="hidden" th:field="${fitnessMember.id}"/>
                    <div class="field">
                        <label for='userId' class="label">User Id</label>
                        <div class="control has-icons-right">
                            <input type="text" class="input" id="userId" name="userId" th:field="${fitnessMember.userId}"/>
                            <span class="icon is-small is-right">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                        <div th:if="${#fields.hasErrors('userId')}">
                            <div class="invalid-feedback" th:each="err : ${#fields.errors('userId')}" th:text="${err}">User ID is invalid</div>
                        </div>
                    </div>
                    <div class="field">
                        <label for='phoneCell' class="label">Cell Phone</label>
                        <div class="control has-icons-right">
                            <input type="text" class="input" id="phoneCell" name="phoneCell" th:field="${fitnessMember.phoneCell}"/>
                            <span class="icon is-small is-right">
                                <i class="fas fa-phone"></i>
                            </span>
                        </div>
                        <div th:if="${#fields.hasErrors('phoneCell')}">
                            <div class="invalid-feedback" th:each="err : ${#fields.errors('phoneCell')}" th:text="${err}">Cell phone number is invalid</div>
                        </div>
                    </div>
                    <div class="field">
                        <label for='phoneHome' class="label">Home Phone</label>
                        <div class="control has-icons-right">
                            <input type="text" class="input" id="phoneHome" name="phoneHome" th:field="${fitnessMember.phoneHome}"/>
                            <span class="icon is-small is-right">
                                <i class="fas fa-phone"></i>
                            </span>
                        </div>
                        <div th:if="${#fields.hasErrors('phoneHome')}">
                            <div class="invalid-feedback" th:each="err : ${#fields.errors('phoneHome')}" th:text="${err}">Home phone number is invalid</div>
                        </div>
                    </div>
                    <div class="field">
                        <label for='phoneWork' class="label">Work Phone</label>
                        <div class="control has-icons-right">
                            <input type="text" class="input" id="phoneWork" name="phoneWork" th:field="${fitnessMember.phoneWork}"/>
                            <span class="icon is-small is-right">
                                <i class="fas fa-phone"></i>
                            </span>
                        </div>
                        <div th:if="${#fields.hasErrors('phoneWork')}">
                            <div class="invalid-feedback" th:each="err : ${#fields.errors('phoneWork')}" th:text="${err}">Work phone number is invalid</div>
                        </div>
                    </div>
                    <div class="field">
                        <label for='address' class="label">Address</label>
                        <div class="control has-icons-right">
                            <input type="text" class="input" id="address" name="address" th:field="${fitnessMember.address}"/>
                            <span class="icon is-small is-right">
                                <i class="fas fa-building"></i>
                            </span>
                        </div>
                        <div th:if="${#fields.hasErrors('address')}">
                            <div class="invalid-feedback" th:each="err : ${#fields.errors('address')}" th:text="${err}">Address is invalid</div>
                        </div>
                    </div>
                    <div class="field">
                        <label for='startDate' class="label">Start Date</label>
                        <div class="control has-icons-right">
                            <input type="date" class="input" id="startDate" name="startDate" th:field="${fitnessMember.membershipStartDate}"/>
                            <span class="icon is-small is-right">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </div>
                        <div th:if="${#fields.hasErrors('membershipStartDate')}">
                            <div class="invalid-feedback" th:each="err : ${#fields.errors('membershipStartDate')}" th:text="${err}">Start date is invalid</div>
                        </div>
                    </div>
                    <div class="field">
                        <label for='endDate' class="label">End Date</label>
                        <div class="control has-icons-right">
                            <input type="date" class="input" id="endDate" name="endDate" th:field="${fitnessMember.membershipEndDate}"/>
                            <span class="icon is-small is-right">
                                <i class="fas fa-calendar-alt"></i>
                            </span>
                        </div>
                        <div th:if="${#fields.hasErrors('membershipEndDate')}">
                            <div class="invalid-feedback" th:each="err : ${#fields.errors('membershipEndDate')}" th:text="${err}">End date is invalid</div>
                        </div>
                    </div>
                    <div class="field">
                        <label for='status' class="label">Active Status?</label>
                        <div class="control">
                            <div class="select">
                                <select id="status" name="status" th:field="${fitnessMember.status}">
                                    <option th:each="theType : ${session.StatusTypes}" th:value="${theType.codeValueSequence}" th:text="${theType.englishDescription}">types here</option>
                                </select>
                            </div>
                        </div>
                        <div th:if="${#fields.hasErrors('status')}">
                            <div class="invalid-feedback" th:each="err : ${#fields.errors('status')}" th:text="${err}">Status number is invalid</div>
                        </div>
                    </div>
                    <button class="button" type="submit" th:text="#{button.submit}"></button>
                </form>
            </div>
        </section>
        <div th:include="fragments/footer" th:remove="tag"></div>
    </body>
</html>