<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag"><title></title>
    </head>
    <body>
        <div th:include="fragments/bodyHeader" th:remove="tag"></div>
        <section class="section">
            <div class="container" >            
                <!-- Header -->
                <h1 class="title">Member Usage Report</h1>

                <p th:text="'Fitness Member Usage Report for ' + ${startDate} + ' to ' + ${endDate}"></p>
                <th:block th:if="${bookings.size()} == 0">      
                    <p th:text="#{report.noresults}"></p>        
                </th:block>
                <th:block th:if="${bookings.size()} > 0">
                    <table class="table is-striped is-fullwidth">
                        <thead>
                            <tr>
                                <th>Member Id</th>
                                <th>Number of Bookings</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="member : ${members}">
                                <td th:text="${member.userId}"></td>
                                <td th:text="${bookingsCount.get(member.userId)}"></td>
                            </tr>
                        </tbody>
                    </table>
                </th:block>
            </div>
        </section>
        <div th:include="fragments/footer" th:remove="tag"></div>
    </body>
</html>