<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag"><title>Fitness Members</title>
    </head>
    <body>
        <div th:include="fragments/bodyHeader" th:remove="tag"></div>
        <section class="section">
            <div class="container">       
                <h1 class="title" th:text="#{member.listTitle}"></h1>
                <table class="table is-striped is-fullwidth">
                    <thead>
                        <tr>
                            <th style="width: 150px;">Member ID</th>
                            <th style="width: 150px;">Cell Phone</th>
                            <th style="width: 150px;">Home Phone</th>
                            <th style="width: 150px;">Work Phone</th>
                            <th style="width: 150px;">Address</th>
                            <th style="width: 150px;">Status</th>
                            <th style="width: 150px;">Start Date</th>
                            <th style="width: 150px;">End Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="fitnessMember : ${fitnessMembers}">

                            <td th:text="${fitnessMember.userId}"></td>
                            <td th:text="${fitnessMember.phoneCell}"></td>
                            <td th:text="${fitnessMember.phoneHome}"></td>
                            <td th:text="${fitnessMember.phoneWork}"></td>
                            <td th:text="${fitnessMember.address}"></td>
                            <td th:text="${fitnessMember.statusDescription}"></td>
                            <td th:text="${fitnessMember.membershipStartDate}"></td>
                            <td th:text="${fitnessMember.membershipEndDate}"></td>
                            <td>
                                <div class="field is-grouped">
                                    <p class="control">
                                        <a class="button is-small"  th:href="@{/fitnessMembers/edit/{id}(id=${fitnessMember.id})}">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                    </p>
                                    <p class="control">
                                        <a class="button is-small"  th:href="@{/fitnessMembers/delete/{id}(id=${fitnessMember.id})}">
                                        <i class="fas fa-trash"></i>
                                        </a>
                                    </p>
                                </div>
                            </td>      
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="9"><a class="button is-pulled-right" th:href="@{/fitnessMembers/add}" th:text="#{button.add}" ></a></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>
        <div th:include="fragments/footer" th:remove="tag"></div>
    </body>
</html>